<!-- evolvehygiene/templates/user/order_success.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user/order_success.css' %}">
{% endblock %}

{% block content %}
<div class="success-container">
    <div class="left-section">
        <h1>Thanks for shopping with us!</h1>
        <p>Delivery by {{ delivery_date }}</p>
        <a href="{% url 'track_order' order.id %}" class="track-link">Track & Manage order</a>
        <p>Delivery by {{ delivery_date }}</p>
        <a href="{% url 'home' %}" class="continue-btn">Continue Shopping</a>
    </div>
    <div class="right-section">
        <div class="order-link">
            <p>Why call? Just click!</p>
            <a href="{% url 'my_orders' %}" class="btn orders-btn">Go to My Orders</a>
        </div>
        <div class="delivery-info">
            <h3>{{ delivery_details.name }}</h3>
            <p>{{ delivery_details.address_type|title }}: {{ delivery_details.address }}, {{ delivery_details.city }}, {{ delivery_details.state }} - {{ delivery_details.pincode }}</p>
            <p>Phone number: {{ delivery_details.phone }}</p>
            <a href="{% url 'edit_delivery_details' %}" class="change-link">Change or Add number</a>
        </div>
    </div>
</div>
{% endblock %}