{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <style>
 
        
    </style>
</head>
<body class="main">
    <div class="navbar">
        <div class="logo">
            <h2 style="margin: 0; font-size: 1.5rem;">Shoes cart</h2>
        </div>
        <div class="nav-links">
            <a href="{% url 'product_upload' %}">Upload Product</a>
            <a href="{% url 'logoutuser' %}">
                <button>Logout</button>
            </a>
        </div>
    </div>

    <h1>Welcome</h1>
    <div class="product-grid">
        {% for item in gallery_items %}
        <div>
            <h3>{{ item.name }}</h3>
            <p>Price: {{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Model: {{ item.model }}</p>
            <p>Offers: {{ item.offers }}</p>
    
            {% if item.feedimage_url %}
                <img src="{{ item.feedimage_url }}" alt="Product Image" style="width: 200px;">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>

</body>
</html>