{%load static%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/product_upload.css' %}">
        
</head>
<body>
    <h1>Upload New Products </h1>

    {% if data1 %}
     <form action="{% url 'edit_g' data1.id %}" method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
     <input type="file" name="image" id="image" value="{{data1.myimage}}" required>
    
     name
     <input type="text" name="name" class="ww" value="{{data1.name}}">
     
     price
     <input type="text" name="price" class="www" value="{{data1.price}}">
    
     <!-- quantity
     <input type="text" name="course" class="ww" value="{{data1.quantity}}"> -->
     
     model
     <input type="address" name="model" class="ww" value="{{data1.model}}">
     
     <!-- offers
     <input type="address" name="offers" class="ww" value="{{data1.offers}}">
      -->
     <!-- <input type="submit" value="submit" class="cc"><br><br> -->
     <button type="submit" class="cc">submit</button>
    
    </form>

    {% else %}
    <form action="{% url 'product_upload' %}" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}
     
    <label for="image">Upload Image:</label>
    <input type="file" name="image" id="image" required>
     
    company
     <input type="text" name="name" class="ww">
     
     price
     <input type="text" name=" price" class="www">
     
     <!-- quantity
     <input type="text" name="quantity" class="ww"><br><br> -->
     
     model
     <input type="address" name="model" class="ww">
     
     <!-- offers
     <input type="address" name="offers" class="ww"> -->
     
     <button type="submit">Submit</button>
     
     {% endif %}

 </form>
 <div>
     {% for i in gallery_images %}
     {% if i.feedimage %}
     {% else %}
         <p>No image for this gallery item</p>
     {% endif %}
 {% empty %}
     <p>No images uploaded yet.</p>
 {% endfor %}
 </div>
 <a href="{% url 'admin_dashboard' %}">Home</a>
    <!-- <a href="{% url 'logout' %}">logout</a> -->
 </body>
</html>
